version: '3.3'
services:
  fluentd:
    image: ovld/fluentd
    ports:
      - "24224:24224"
      - "24224:24224/udp"
  elasticsearch:
    image: elasticsearch:7.4.0
    environment:
      - 'discovery.type=single-node'
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
  kibana:
    image: kibana:7.4.0
    ports:
      - "5601:5601"
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      backend:
      frontend:

volumes:
  elasticsearch:
networks:
  frontend:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet:  10.0.1.0/24
  backend:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.0.2.0/24
